# Scikit-learn Lab

In [8]:
import pandas as pd

### Read the "ucla_admissions.csv " data into a dataframe

In [30]:
#
df = pd.read_csv("ucla_admissions.csv")

### Preview the first 10 rows of the data

In [31]:
df.head(10)

   admit  gre   gpa  rank
0      0  380  3.61     3
1      1  660  3.67     3
2      1  800  4.00     1
3      1  640  3.19     4
4      0  520  2.93     4
5      1  760  3.00     2
6      1  560  2.98     1
7      0  400  3.08     2
8      1  540  3.39     3
9      0  700  3.92     2

### What is the highest GRE score?

In [11]:
df["gre"].max()

800

### What is the lowest GPA?

In [12]:
df["gpa"].min()

2.26

### What GPA is at the 50th percentile?

In [13]:
df["gpa"].median()

3.395

### On average, what percentage of applicants were admitted?

In [14]:
df["admit"].mean()

0.3175

In [ ]:
df.describe()

### Engineer a new feature called "power" that divides the individual's "gpa" by the class "rank"

In [32]:
df["power"] = df["gpa"]/df["rank"]

In [33]:
df.head()

   admit  gre   gpa  rank     power
0      0  380  3.61     3  1.203333
1      1  660  3.67     3  1.223333
2      1  800  4.00     1  4.000000
3      1  640  3.19     4  0.797500
4      0  520  2.93     4  0.732500

### One-hot encode the class rank feature

In [34]:
df = pd.get_dummies(df, columns=["rank"])

In [35]:
df.head()

   admit  gre   gpa     power  rank_1  rank_2  rank_3  rank_4
0      0  380  3.61  1.203333       0       0       1       0
1      1  660  3.67  1.223333       0       0       1       0
2      1  800  4.00  4.000000       1       0       0       0
3      1  640  3.19  0.797500       0       0       0       1
4      0  520  2.93  0.732500       0       0       0       1

### Put all of the feature values into X

In [36]:

X = df.iloc[:, 1:].values

### Put the target values into y

In [37]:
y = df.iloc[:, 0].values

### Split data into train and test sets

In [38]:
# split dataset into test/train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.3)

### Create a Logistic Regression model and test the accuracy of predicting who will get accepted into UCLA

In [39]:
# binary classifier
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)
log_reg.score(X_test, y_test)

C:\Users\r560847\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.75

# BONUS
### Predict class rank_4 from the other features using a Support Vector Machine model.

In [ ]:
df.head()

In [23]:
X = df.iloc[:, :-1].values

In [24]:
y = df.iloc[:, -1].values

In [25]:
# split dataset into test/train
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, test_size=0.3)

In [26]:
from sklearn.svm import SVC
svm = SVC(kernel='linear')
svm.fit(X_train, y_train)
svm.score(X_test, y_test)

1.0