# Python Introduction

### *Numbers (Integers, Floats)*

In [1]:
3+2

5

In [7]:
3*2

6

In [3]:
3/2

1.5

In [4]:
3//2

1

In [5]:
14%3

2

In [6]:
3**2

9

### Variables

In [8]:
a = 3
b = 2
a + b

5

In [9]:
a+a

6

In [10]:
a = a+a
a

6

### Strings

In [11]:
"Is it wonderful?"

'Is it wonderful?'

In [12]:
'Is it wonderful?'

'Is it wonderful?'

In [13]:
"Isn't it wonderful!"

"Isn't it wonderful!"

In [14]:
# access string characters using index notation. The first character is at index position 0.
s = "string"
s[0]

's'

In [15]:
 s[5] = 'e'    # string is immutable, can't change it

TypeError: 'str' object does not support item assignment

### Print()

In [16]:
print("printed")

printed

In [18]:
# print formating
name = "Sam"
grade = 81
print("{} scored a grade of {} on the test.".format(name, grade))

81 scored a grade of Sam on the test.

In [19]:
print("{one} is the student who scored an {two} on his test.".format(one = name, two = grade))

Sam is the student who scored an 81 on his test.

### Lists

In [20]:
# create a list using square brackets

[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [21]:
L = [1, 'two', 3, 4, 5]
L

[1, 'two', 3, 4, 5]

In [22]:
# access list items using index notation. The first item is at index position 0.

# List:                [1, 'two', 3, 4, 5]
# index position:       0    1    2  3  4 

L[0]

1

In [23]:
L[1] = 2
L

[1, 2, 3, 4, 5]

In [28]:
L2 = [55, 21, 34, 12, 8, 9]
#L.sort()    # sorts the list in place
sorted(L2)    # returns a new sorted list

In [25]:
L2

[55, 21, 34, 12, 8, 9]

In [29]:
del L2[2]
L2

[55, 21, 12, 8, 9]

In [30]:
[96, 97] + [98, 99]

[96, 97, 98, 99]

In [31]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

### List slicing

In [32]:
L3 = [1,2,3,4,5]
L3[0:3]

[1, 2, 3]

In [33]:
L3[3:]

[4, 5]

In [34]:
# use negatives to count from the end of the list
L3[-1]      # returns the last item

5

In [35]:
# A second : can be used to indicate step-size. array[start:stop:stepsize]

L3[::-1]     # returns a reversed copy of the list

[5, 4, 3, 2, 1]

### Dictionaries

In [36]:
d = {"key1": "Tim Mays", "key2": ["soccer", "2018"]}

In [37]:
d["key1"]

'Tim Mays'

In [38]:
d["key2"][1]

'1'

In [39]:
d["key3"] = "Olympics"
d

{'key1': 'Tim Mays', 'key2': ['soccer', '2018'], 'key3': 'Olympics'}

In [40]:
del d['key3']
d

{'key1': 'Tim Mays', 'key2': ['soccer', '2018']}

### Tuples

In [41]:
tup = (1,2,3)
tup

(1, 2, 3)

In [42]:
tup[:2]

(1, 2)

In [43]:
tup[0] = 'new'     # immutable

TypeError: 'tuple' object does not support item assignment

In [45]:
num1, num2, num3 = (5,11,15)  # unpacking, assign multiple values at once
print(num2)

11

### Sets

In [46]:
{1,2,3,1,2,3, None, None}

{1, 2, 3, None}

In [47]:
a_set = set([5,10,15,10,5])
a_set

{5, 10, 15}

In [48]:
a_set.add(20)
a_set

{5, 10, 15, 20}

In [6]:
20 in a_set

True

### Booleans

In [53]:
True

True

In [54]:
False

False

In [55]:
int(True)

1

In [56]:
int(False)

0

In [57]:
True and True

True

In [58]:
True and False

False

In [59]:
True or False

True

### Comparison Operators

In [60]:
1 < 2

True

In [61]:
1 > 2

False

In [62]:
1 <= 2

True

In [63]:
1 >= 2

False

In [64]:
1 == 2

False

In [65]:
1 != 2

True

In [66]:
"string" == "string"

True

In [67]:
"string" == 'spring'

False

In [74]:
["Bill", "Sarah", "Karen"] == ["Bill", "Sarah", "Karen"]

False

In [69]:
(1 < 2) and (2 < 3)

True

In [70]:
(1 > 2) or (2 < 3)

True

### if, elif, else Statements

In [75]:
if True:
    print("True")

True

In [76]:
if 1: 
    print("True")

True

In [77]:
if 0: 
    print("True")
else:
    print("False")

False

In [78]:
if 100: 
    print("Really True!")

Really True!

In [79]:
if -100.63: 
    print("True")
else:
    print("False")

True

In [80]:
city = "Palo Alto"

if city == "Palo Alto":
    print("Yes!")

Yes!

In [81]:
if 100 in [97, 98, 99]:
    print("Yes!")
elif "Dave" == "David":
    print("Maybe")
else:
    print("No!")

No!

### for Loops

In [82]:
L = [19, 21, 23, 25]
for item in L:
    print("Welcome!")

Welcome!
Welcome!
Welcome!
Welcome!

In [86]:
for age in L:
    print(age)

19
21
23
25

25

In [88]:
list(range(50, 61))

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60]

In [103]:
for i in range(0, 26, 5):
    print(i)

0
5
10
15
20
25

### while

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

### List comprehension

In [105]:
L = [-1,-2,-3,-4,-5]
L

[-1, -2, -3, -4, -5]

In [106]:
L_abs = [abs(num) for num in L]
L_abs

[1, 2, 3, 4, 5]

In [107]:
filter_L = [num for num in L_abs if num < 3]
filter_L

[1, 2]

### Functions

In [108]:

def abs_f(parameters):
    pass

In [109]:
def num_rows(data_shape):
    rows=data_shape[0]
    cols=data_shape[1]
    return "There are {} rows.".format(rows)

In [113]:
def num_rows(data_shape):
    rows, cols,  = data_shape
    return "There are {} rows.".format(cols)

In [116]:
num_rows((250,9))

'There are 9 rows.'