# Pandas Exercises - Solutions

In [1]:
import pandas as pd
import numpy as np

### Use the code below to get the data to use for the following problems.
The dataset contains the Top 25 Baby Names in the United States from 2005-20016.

In [2]:
baby_names_df = pd.read_csv("top25babynames_by_sex_05-16.csv")

### Display the first 10 rows

In [ ]:
baby_names_df.head(10)

### Display a sorted list of the unique names that were ever in the top 25 over this span.

In [ ]:
sorted(baby_names_df["Name"].unique())

### Display the number of unique names that were in the top 25 over this span.

In [ ]:
len(baby_names_df["Name"].unique())

### How many times was a given name chosen for babies more than 3000 times in a year?

In [ ]:
baby_names_df.loc[(baby_names_df["Count"]>3000), 'Name'].count()

### Which unique names were given to more than 3500 babies in a given year?

In [3]:
baby_names_df.loc[baby_names_df["Count"]>3500, "Name"].unique()

array(['DANIEL', 'ANTHONY', 'ANGEL', 'SOPHIA'], dtype=object)

### What were the most popular male and female names in 2016?

In [4]:
baby_names_df.loc[(baby_names_df["RANK"]==1) & (baby_names_df["YEAR"] == 2016), ['Name', 'Gender']]

     Name  Gender
551   MIA  Female
576  NOAH    Male

### Which female name was ranked number 1 most often over this span?

In [5]:
baby_names_df.loc[(baby_names_df["Gender"] == "Female") & (baby_names_df["RANK"]==1), 'Name'].value_counts()

SOPHIA      5
EMILY       4
ISABELLA    2
MIA         1
Name: Name, dtype: int64